<!-- 最小モジュール -->
<!-- ボタン -->
<a href="#" class="el_btn">標準ボタン</a>
<br>
<br>
<a href="#" class="el_btn el_btn__arrowRight">矢印付きボタン</a>
<br>
<br>
<a href="#" class="el_btn el_btn__large ">大きいボタン</a>
<br>
<br>
<a href="#" class="el_btn el_btn__large el_btn__arrowRight">大きい矢印付きボタン</a>
<br>
<br>
<a href="#" class="el_btn el_btn__yellow ">色違いボタン</a>
<br>
<br>
<a href="#" class="el_roundedBtn">角丸ボタン</a>
<br>
<br>
<!-- アイコン付き小ボタン -->
<a href="#" class="el_beforeIconBtn el_beforeIconBtn__download">ダウンロード</a>
<br>
<br>
<a href="#" class="el_beforeIconBtn el_beforeIconBtn__zoom">拡大</a>
<br>
<br>
<!-- アイコン -->
<span class="el_beforeIcon el_beforeIcon__pdf"><a href="#">ファイル名.pdf</a></span>
<span class="el_beforeIcon el_beforeIcon__excel"><a href="#">ファイル名.xlsx</a></span>
<span class="el_beforeIcon el_beforeIcon__PP"><a href="#">ファイル名.pptx</a></span>
<span class="el_beforeIcon el_beforeIcon__checkSquare"><a href="#">チェック項目</a></span>
<span class="el_beforeIcon el_beforeIcon__chevLeft"><a href="#">戻る</a></span>
<br>
<span class="el_afterIcon el_afterIcon__chevRight"><a href="#">進む</a></span>
<br>
<br>
<!-- ラベル -->
<span class="el_label">NEWS</span>
<br>
<span class="el_label el_label__yellow">PRESS RELEASE</span>
<br>
<a href="#" class="el_label el_label__link">NEWS</a>
<br>
<span class="el_roundedLabel">NEWS</span>
<br>
<!-- 見出し -->
<h1 class="el_lv1Heading">
  <span>ページタイトル</span>
</h1>
<h2 class="el_lv2Heading">見出し2</h2>
<h3 class="el_lv3Heading">見出し3</h3>
<h4 class="el_lv4Heading">見出し4</h4>
<h5 class="el_lv5Heading">見出し5</h5>
<h6 class="el_lv6Heading">見出し6</h6>
<!-- 注釈 -->
<p><strong class="el_caution">※注釈が入ります</strong></p>
<p class="el_note">※注釈が入ります</p>


<!-- 複合モジュール -->
<!-- メディア -->
<div class="bl_media">
  <figure class="bl_media_imgWrapper">
    <img src="https://placehold.jp/150x100.png" alt="写真：手に持たれたスマホ">
  </figure>
  <div class="bl_media_body">
    <h3 class="bl_media_ttl">ユーザーを考えた設計で満足な体験を</h3>
    <p class="bl_media_txt">
      提供するサービスやペルソナによって、webサイトの設計は異なります。サービスやペルソナに合わせた設計を行うことにより、訪問者にストレスのないよりよい体験を見出し、満足を高めることとなります<br>わたしたちはお客さまのサイトに合ったユーザビリティを考えるため、分析やヒアリングをきめ細かく実施、満足を体験できるクリエイティブとテクノロジーを設計・構築し、今までにない期待を超えたユーザー体験を提供致します。
    </p>
  </div>
  <!-- /.bl_media_body -->
</div>
<!-- /.bl_media -->

<!-- メディア（逆位置）：拡張パターン -->
<div class="bl_media bl_media__rev">
  <figure class="bl_media_imgWrapper">
    <img src="https://placehold.jp/150x100.png" alt="写真：手に持たれたスマホ">
  </figure>
  <div class="bl_media_body">
    <h3 class="bl_media_ttl">ユーザーを考えた設計で満足な体験を</h3>
    <p class="bl_media_txt">
      提供するサービスやペルソナによって、webサイトの設計は異なります。サービスやペルソナに合わせた設計を行うことにより、訪問者にストレスのないよりよい体験を見出し、満足を高めることとなります<br>わたしたちはお客さまのサイトに合ったユーザビリティを考えるため、分析やヒアリングをきめ細かく実施、満足を体験できるクリエイティブとテクノロジーを設計・構築し、今までにない期待を超えたユーザー体験を提供致します。
    </p>
  </div>
  <!-- /.bl_media_body -->
</div>
<!-- /.bl_media -->

<!-- メディア（画像半分）（バリエーション） -->
<div class="bl_halfMedia">
  <figure class="bl_halfMedia_imgWrapper">
    <img src="https://placehold.jp/150x100.png" alt="写真：手に持たれたスマホ">
  </figure>
  <div class="bl_halfMedia_body">
    <h3 class="bl_halfMedia_ttl">ユーザーを考えた設計で満足な体験を</h3>
    <p class="bl_halfMedia_txt">
      提供するサービスやペルソナによって、webサイトの設計は異なります。サービスやペルソナに合わせた設計を行うことにより、訪問者にストレスのないよりよい体験を見出し、満足を高めることとなります<br>わたしたちはお客さまのサイトに合ったユーザビリティを考えるため、分析やヒアリングをきめ細かく実施、満足を体験できるクリエイティブとテクノロジーを設計・構築し、今までにない期待を超えたユーザー体験を提供致します。
    </p>
  </div>
  <!-- /.bl_halfMedia_body -->
</div>
<!-- /.bl_media -->

<!-- カード -->
<div class="bl_card">
  <figure class="bl_card_imgWrapper">
    <img src="https://placehold.jp/150x100.png" alt="webサイト制作">
  </figure>
  <div class="bl_card_body">
    <h3 class="bl_card_ttl">webサイト制作</h3>
    <p class="bl_card_txt">ユーザーにベストな体験を提供するクリエイティブとテクノロジーを作り上げます。</p>
  </div>
  <!-- /.bl_card_body -->
</div>
<!-- /.bl_card -->

<!-- カード__バッジ付き：拡張パターン -->
<div class="bl_card">
  <b class="bl_card_badge">
    <span class="bl_card_badge_txt">New</span>
  </b>
  <figure class="bl_card_imgWrapper">
    <img src="https://placehold.jp/150x100.png" alt="webサイト制作">
  </figure>
  <div class="bl_card_body">
    <h3 class="bl_card_ttl">webサイト制作</h3>
    <p class="bl_card_txt">ユーザーにベストな体験を提供するクリエイティブとテクノロジーを作り上げます。</p>
  </div>
  <!-- /.bl_card_body -->
</div>
<!-- /.bl_card -->

<!-- カード__リンク：拡張パターン -->
<a href="#" class="bl_card">
  <figure class="bl_card_imgWrapper">
    <img src="https://placehold.jp/150x100.png" alt="webサイト制作">
  </figure>
  <div class="bl_card_body">
    <h3 class="bl_card_ttl">webサイト制作</h3>
    <p class="bl_card_txt">ユーザーにベストな体験を提供するクリエイティブとテクノロジーを作り上げます。</p>
  </div>
  <!-- /.bl_card_body -->
</a>
<!-- /.bl_card -->

<!-- 3カラム：拡張パターン -->
<div class="bl_cardUnit bl_cardUnit__col3">
  <div class="bl_card">
    <figure class="bl_card_imgWrapper">
      <img src="https://placehold.jp/150x100.png" alt="webサイト制作">
    </figure>
    <div class="bl_card_body">
      <h3 class="bl_card_ttl">webサイト制作</h3>
      <p class="bl_card_txt">ユーザーにベストな体験を提供するクリエイティブとテクノロジーを作り上げます。</p>
    </div>
    <!-- /.bl_card_body -->
  </div>
  <!-- /.bl_card -->
  <div class="bl_card">
    <figure class="bl_card_imgWrapper">
      <img src="https://placehold.jp/150x100.png" alt="webサイト制作">
    </figure>
    <div class="bl_card_body">
      <h3 class="bl_card_ttl">webサイト制作</h3>
      <p class="bl_card_txt">ユーザーにベストな体験を提供するクリエイティブとテクノロジーを作り上げます。</p>
    </div>
    <!-- /.bl_card_body -->
  </div>
  <!-- /.bl_card -->
  <div class="bl_card">
    <figure class="bl_card_imgWrapper">
      <img src="https://placehold.jp/150x100.png" alt="webサイト制作">
    </figure>
    <div class="bl_card_body">
      <h3 class="bl_card_ttl">webサイト制作</h3>
      <p class="bl_card_txt">ユーザーにベストな体験を提供するクリエイティブとテクノロジーを作り上げます。</p>
    </div>
    <!-- /.bl_card_body -->
  </div>
  <!-- /.bl_card -->
</div>
<!-- /.bl_cardUnit bl_cardUnit__col3 -->

<!-- 4カラム：拡張パターン -->
<div class="bl_cardUnit bl_cardUnit__col4">
  <div class="bl_card">
    <figure class="bl_card_imgWrapper">
      <img src="https://placehold.jp/150x100.png" alt="webサイト制作">
    </figure>
    <div class="bl_card_body">
      <h3 class="bl_card_ttl">webサイト制作</h3>
      <p class="bl_card_txt">ユーザーにベストな体験を提供するクリエイティブとテクノロジーを作り上げます。</p>
    </div>
    <!-- /.bl_card_body -->
  </div>
  <!-- /.bl_card -->
  <div class="bl_card">
    <figure class="bl_card_imgWrapper">
      <img src="https://placehold.jp/150x100.png" alt="webサイト制作">
    </figure>
    <div class="bl_card_body">
      <h3 class="bl_card_ttl">webサイト制作</h3>
      <p class="bl_card_txt">ユーザーにベストな体験を提供するクリエイティブとテクノロジーを作り上げます。</p>
    </div>
    <!-- /.bl_card_body -->
  </div>
  <!-- /.bl_card -->
  <div class="bl_card">
    <figure class="bl_card_imgWrapper">
      <img src="https://placehold.jp/150x100.png" alt="webサイト制作">
    </figure>
    <div class="bl_card_body">
      <h3 class="bl_card_ttl">webサイト制作</h3>
      <p class="bl_card_txt">ユーザーにベストな体験を提供するクリエイティブとテクノロジーを作り上げます。</p>
    </div>
    <!-- /.bl_card_body -->
  </div>
  <!-- /.bl_card -->
  <div class="bl_card">
    <figure class="bl_card_imgWrapper">
      <img src="https://placehold.jp/150x100.png" alt="webサイト制作">
    </figure>
    <div class="bl_card_body">
      <h3 class="bl_card_ttl">webサイト制作</h3>
      <p class="bl_card_txt">ユーザーにベストな体験を提供するクリエイティブとテクノロジーを作り上げます。</p>
    </div>
    <!-- /.bl_card_body -->
  </div>
  <!-- /.bl_card -->
</div>
<!-- /.bl_cardUnit bl_cardUnit__col4 -->

<hr>

<!-- テーブル（水平）：ベース -->
<div class="bl_horizTable">
  <table>
    <tbody>
      <tr>
        <th>名前</th>
        <td>●● ●●</td>
      </tr>
      <tr>
        <th>所属</th>
        <td>
          SAMPLETEXTSAMPLETEXTSAMPLETE
          XTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        </td>
      </tr>
      <tr>
        <th>職種</th>
        <td>エンジニア</td>
      </tr>
      <tr>
        <th>得意分野</th>
        <td>CSS設計</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- /.bl_horizTable -->

<hr>

<!-- テーブル（水平）（メディアクエリ適用時）：拡張パターン -->
<div class="bl_horizTable bl_horizTable__mdScroll">
  <table>
    <tbody>
      <tr>
        <th>名前</th>
        <td>●● ●●</td>
      </tr>
      <tr>
        <th>所属</th>
        <td>
          SAMPLETEXTSAMPLETEXTSAMPLETE
          XTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTSAMPLETEXTああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        </td>
      </tr>
      <tr>
        <th>職種</th>
        <td>エンジニア</td>
      </tr>
      <tr>
        <th>得意分野</th>
        <td>CSS設計</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- /.bl_horizTable bl_horizTable__mdScroll -->

<hr>

<!-- テーブル（垂直）：ベース -->
<div class="bl_vertTable">
  <table>
    <thead>
      <tr>
        <th>名前</th>
        <th>所属</th>
        <th>職種</th>
        <th>得意分野</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          my name is aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.
        </td>
        <td>●●</td>
        <td>●●</td>
        <td>●●</td>
      </tr>
      <tr>
        <td>
          my name is aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.
        </td>
        <td>●●</td>
        <td>●●</td>
        <td>●●</td>
      </tr>
      <tr>
        <td>
          my name is aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.
        </td>
        <td>●●</td>
        <td>●●</td>
        <td>●●</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- /.bl_vertTable -->

<hr>

<!-- テーブル（交差）：ベース -->
<div class="bl_crossTable">
  <table>
    <thead>
      <tr>
        <th class="bl_crossTable_mdSticky">名前</th>
        <th>所属</th>
        <th>職種</th>
        <th>得意分野</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="bl_crossTable_mdSticky">●●●●</th>
        <td>my name is aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.</td>
        <td>my name is aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.</td>
        <td>my name is aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.</td>
      </tr>
      <tr>
        <th class="bl_crossTable_mdSticky">●●●●</th>
        <td>my name is aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.</td>
        <td>my name is aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.</td>
        <td>my name is aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.</td>
      </tr>
      <tr>
        <th class="bl_crossTable_mdSticky">●●●●</th>
        <td>my name is aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.</td>
        <td>my name is aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.</td>
        <td>my name is aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- /.bl_crossTable -->

<hr>

<!-- ページャー：ベース -->
<nav class="bl_pager">
  <ul class="bl_pager_inner">
    <li>
      <a href="#" class="bl_pager_link">
        <i class="fas fa-angle-double-left"></i>
      </a>
    </li>
    <li>
      <a href="#" class="bl_pager_link">
        <i class="fas fa-angle-left"></i>
      </a>
    </li>
    <li>
      <span class="bl_pager_link is_active">1</span>
    </li>
    <li>
      <a href="#" class="bl_pager_link">2</a>
    </li>
    <li>
      <a href="#" class="bl_pager_link">3</a>
    </li>
    <li>
      <a href="#" class="bl_pager_link">
        <i class="fas fa-angle-right"></i>
      </a>
    </li>
    <li>
      <a href="#" class="bl_pager_link">
        <i class="fas fa-angle-double-right"></i>
      </a>
    </li>
  </ul>
</nav>

<hr>

<!-- タブナビゲーション -->
<nav class="bl_tabNav">
  <ul class="bl_tabNav_inner">
    <li>
      <span class="bl_tabNav_link is_active">契約・手続きについて</span>
    </li>
    <li>
      <a href="#" class="bl_tabNav_link">製品について</a>
    </li>
    <li>
      <a href="#" class="bl_tabNav_link">キャンペーンについて</a>
    </li>
    <li>
      <a href="#" class="bl_tabNav_link">会員昨日について</a>
    </li>
    <li>
      <a href="#" class="bl_tabNav_link">各種お手続きについて</a>
    </li>
  </ul>
</nav>

<hr>

<!-- CTA：ベース -->
<div class="bl_cta">
  <h2 class="bl_cta_ttl">
    お気軽にお問い合わせください
  </h2>
  <p class="bl_cta_txt">
    弊社のサービスや製品のことで気になることがございましたら、お気軽にお問い合わせください<br>
    <a href="#">→問い合わせする</a>
  </p>
</div>
<!-- /.bl_cta -->

<hr>

<!-- 料金表：ベース -->
<ul class="bl_priceUnit">
  <li class="bl_price">
    <div class="bl_price_header">
      <p class="bl_price_ttl">
        STARTER
      </p>
      <p class="bl_price_price">
        6,000
        <span>円/月</span>
      </p>
    </div>
    <!-- /.bl_price_header -->
    <div class="bl_price_body">
      <p class="bl_price_lead">
        初めてインバウンドマーケティングを行う企業向けのスタートアッププラン
      </p>
      <dl class="bl_price_features">
        <dt>
          費用に含まれるコンタクト数
        </dt>
        <dd>
          1,000件
        </dd>
        <dt>
          月間サイト訪問者数
        </dt>
        <dd>
          3,000
        </dd>
        <dt>
          月間Eメール送信数上限
        </dt>
        <dd>
          最大コンタクト数の5倍
        </dd>
      </dl>
    </div>
    <!-- /.bl_price_body -->
  </li>
  <li class="bl_price">
    <div class="bl_price_header">
      <p class="bl_price_ttl">
        PRO
      </p>
      <p class="bl_price_price">
        96,000
        <span>円/月</span>
      </p>
    </div>
    <!-- /.bl_price_header -->
    <div class="bl_price_body">
      <p class="bl_price_lead">
        マーケティング担当者の欲しい機能が網羅されたおすすめプラン
      </p>
      <dl class="bl_price_features">
        <dt>
          費用に含まれるコンタクト数
        </dt>
        <dd>
          1,000件
        </dd>
        <dt>
          月間サイト訪問者数
        </dt>
        <dd>
          無制限
        </dd>
        <dt>
          月間Eメール送信数上限
        </dt>
        <dd>
          最大コンタクト数の10倍
        </dd>
      </dl>
    </div>
    <!-- /.bl_price_body -->
  </li>
  <li class="bl_price">
    <div class="bl_price_header">
      <p class="bl_price_ttl">
        ENTERPRISE
      </p>
      <p class="bl_price_price">
        384,000
        <span>円/月</span>
      </p>
    </div>
    <!-- /.bl_price_header -->
    <div class="bl_price_body">
      <p class="bl_price_lead">
        マーケティングチームでインバウンドマーケティングを行える高機能プラン
      </p>
      <dl class="bl_price_features">
        <dt>
          費用に含まれるコンタクト数
        </dt>
        <dd>
          10,000件
        </dd>
        <dt>
          月間サイト訪問者数
        </dt>
        <dd>
          無制限
        </dd>
        <dt>
          月間Eメール送信数上限
        </dt>
        <dd>
          最大コンタクト数の10倍
        </dd>
      </dl>
    </div>
    <!-- /.bl_price_body -->
  </li>
</ul>

<hr>

<!-- 料金表テーブル：バリエーション -->
<div class="bl_priceTable">
  <table>
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="bl_priceTable_header">
          <p class="bl_priceTable_headerTtl">
            STARTER
          </p>
          <p class="bl_priceTable_price">
            6,000
            <span>円/月</span>
          </p>
        </th>
        <th class="bl_priceTable_header">
          <p class="bl_priceTable_headerTtl">
            PRO
          </p>
          <p class="bl_priceTable_price">
            96,000
            <span>円/月</span>
          </p>
        </th>
        <th class="bl_priceTable_header">
          <p class="bl_priceTable_headerTtl">
            ENTERPRISE
          </p>
          <p class="bl_priceTable_price">
            384,000
            <span>円/月</span>
          </p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="bl_priceTable_bodyTtl">費用に含まれる<br class="md_only">コンタクト数</th>
        <td>1,000件</td>
        <td>1,000件</td>
        <td>10,000件</td>
      </tr>
      <tr>
        <th class="bl_priceTable_bodyTtl">月間サイト<br class="md_only">訪問者数</th>
        <td>3,000</td>
        <td>無制限</td>
        <td>無制限</td>
      </tr>
      <tr>
        <th class="bl_priceTable_bodyTtl">月間Eメール<br class="md_only">送信数上限</th>
        <td>最大コンタクト数の5倍</td>
        <td>最大コンタクト数の10倍</td>
        <td>最大コンタクト数の10倍</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- /.bl_priceTable -->

<hr>

<!-- FAQ：ベース -->
<dl class="bl_faq">
  <dt class="bl_faq_q">
    <span class="bl_faq_icon">Q</span>
    <span class="bl_faq_q_txt">どのようなCMS開発の実績がありますか？</span>
  </dt>
  <dd class="bl_faq_a">
    <span class="bl_faq_icon">A</span>
    <div class="bl_faq_a_body">
      <p class="bl_faq_a_txt">
        WordPress、Movable Type、HubSpot CMS、Sitecoreの開発実績がございます。
      </p>
    </div>
    <!-- /.bl_faq_a_body -->
  </dd>
  <dt class="bl_faq_q">
    <span class="bl_faq_icon">Q</span>
    <span class="bl_faq_q_txt">普段使用しているCSSの設計手法を教えてください</span>
  </dt>
  <dd class="bl_faq_a">
    <span class="bl_faq_icon">A</span>
    <div class="bl_faq_a_body">
      <p class="bl_faq_a_txt">
        OOCSSをはじめ、SMACSS、BEM、FLOCSS、PRECSSなど一通り対応可能です。どの手法を使用するかは、案件の特性を考慮し都度選定しています。
      </p>
    </div>
    <!-- /.bl_faq_a_body -->
  </dd>
</dl>

<!-- アコーディオン：ベース -->
<dl class="bl_accordion">
  <dt>
    <button class="bl_accordion_btn" type="button">どのようなCMS開発の実績がありますか？</button>
  </dt>
  <dd class="bl_accordion_body">
    <p class="bl_accordion_txt">
      WordPress、Movable Type、HubSpot CMS、Sitecoreの開発実績がございます。
    </p>
  </dd>
  <dt>
    <button class="bl_accordion_btn is_active" type="button">どのようなCMS開発の実績がありますか？</button>
  </dt>
  <dd class="bl_accordion_body is_active">
    <p class="bl_accordion_txt">
      WordPress、Movable Type、HubSpot CMS、Sitecoreの開発実績がございます。
    </p>
  </dd>
</dl>

<!-- ジャンボトロン：ベース -->
<div class="bl_jumbotron" style="background-image:url(https://placehold.jp/150x100.png)">
  <div class="bl_jumbotron_inner">
    <p class="bl_jumbotron_ttl">
      貴社のビジネスに適切な戦略をご提案し
      <br class="lg_only">
      「成果」に貢献いたします。
    </p>
  </div>
  <!-- /.bl_jumbotron_inner -->
</div>
<!-- /.bl_jumbotron -->

<hr>

<!-- ポストリスト：ベース -->
<ul class="bl_vertPosts">
  <li class="bl_vertPosts_item">
    <div class="bl_vertPosts_header">
      <time class="bl_vertPosts_date" datetime="2019-03-29">2019/03/29</time>
    </div>
    <!-- /.bl_vertPosts_header -->
    <a class="bl_vertPosts_ttl" href="#">【多言語サイトを構築する】 ①対象言語・地域とURL方式の選定</a>
  </li>
  <li class="bl_vertPosts_item">
    <div class="bl_vertPosts_header">
      <time class="bl_vertPosts_date" datetime="2019-03-28">2019/03/28</time>
    </div>
    <!-- /.bl_vertPosts_header -->
    <a class="bl_vertPosts_ttl" href="#">打ち合わせアポをスムーズに！ビジネスで使える日程調整ツール4選</a>
  </li>
  <li class="bl_vertPosts_item">
    <div class="bl_vertPosts_header">
      <time class="bl_vertPosts_date" datetime="2019-03-27">2019/03/27</time>
    </div>
    <!-- /.bl_vertPosts_header -->
    <a class="bl_vertPosts_ttl" href="#">BtoB向けコンテンツマーケティング戦略におけるLinkedIn活用術</a>
  </li>
</ul>

<!-- 順序なしリスト：ベース -->
<ul class="bl_bulletList">
  <li>
    webコンサルティング
  </li>
  <li>
    デジタルマーケティング支援
  </li>
  <li>
    CMS構築
  </li>
  <li>
    CSS設計
  </li>
</ul>

<hr>

<!-- 順序なしリスト（横並び）：ベース -->
<ul class="bl_bulletList bl_bulletList__horiz">
  <li>
    webコンサルティング
  </li>
  <li>
    デジタルマーケティング支援
  </li>
  <li>
    CMS構築
  </li>
  <li>
    CSS設計
  </li>
</ul>

<hr>

<!-- 順序なしリスト（横並び）：バリエーション -->
<ul class="bl_bulletList">
  <li>
    webコンサルティング
  </li>
  <li>
    デジタルマーケティング支援
  </li>
  <li>
    CMS構築
  </li>
  <li>
    CSS設計
    <ul>
      <li>
        BEM
      </li>
      <li>
        FLOCSS
      </li>
      <li>
        PRECSS
      </li>
      <ul>
        <li>
          BEM
        </li>
        <li>
          FLOCSS
        </li>
        <li>
          PRECSS
        </li>
      </ul>
    </ul>
  </li>
</ul>

<hr>

<!-- 順序ありリスト：ベース -->
<ol class="bl_orderList">
  <li>
    webコンサルティング
  </li>
  <li>
    デジタルマーケティング支援
  </li>
  <li>
    CMS構築
  </li>
  <li>
    CSS設計
  </li>
</ol>

<hr>

<!-- 順序ありリスト（ネスト）：バリエーション -->
<ol class="bl_orderList">
  <li>
    webコンサルティング
  </li>
  <li>
    デジタルマーケティング支援
  </li>
  <li>
    CMS構築
  </li>
  <li>
    CSS設計
    <ol>
      <li>
        BEM
      </li>
      <li>
        FLOCSS
      </li>
      <li>
        PRECSS
        <ol>
          <li>
            BEM
          </li>
          <li>
            FLOCSS
          </li>
          <li>
            PRECSS
          </li>
        </ol>
      </li>
    </ol>
  </li>
</ol>
<hr>

<hr>

<!-- 水平ボタンリスト -->
<ul class="bl_horizBtnList">
  <li>
    <a class="el_btn el_btn__yellow" href="#">戻る</a>
  </li>
  <li>
    <a class="el_btn" href="#">進む</a>
  </li>
</ul>

<hr>

<!-- ボタン＋画像半分サイズメディア -->
<div class="bl_halfMedia">
  <figure class="bl_halfMedia_imgWrapper">
    <img alt="写真：手に持たれたスマホ" src="https://placehold.jp/150x100.png">
  </figure>
  <div class="bl_halfMedia_body">
    <h3 class="bl_halfMedia_ttl">
      ユーザーを考えた設計で満足な体験を
    </h3>
    <p class="bl_halfMedia_txt">
      提供するサービスやペルソナによって、webサイトの設計は異なります。サービスやペルソナに合わせた設計を行うことにより、訪問者にストレスのないよりよい体験を生み出し、満足を高めることとなります。<br>
      わたしたちはお客さまのサイトに合ったユーザビリティを考えるため、分析やヒアリングをきめ細かく実施、満足を体験できるクリエイティブとテクノロジーを設計・構築し、今までにない期待を超えたユーザー体験を提供いたします。
    </p>
    <a class="el_btn el_btn__arrowRight" href="#">戦略策定サービスについて</a>
  </div>
  <!-- /.bl_halfMedia_body -->
</div>
<!-- /.bl_halfMedia -->

<hr>

<!-- ボボタン + CTAエリア -->
<div class="bl_cta">
  <h2 class="bl_cta_ttl">
    お気軽にお問い合わせください
  </h2>
  <p class="bl_cta_txt">
    弊社のサービスや製品のことで気になることがございましたら、お気軽にお問い合わせください
  </p>
  <a class="el_btn" href="#">問い合わせする</a>
</div>
<!-- /.bl_cta -->

<hr>

<!-- ラベル + ポストリスト -->
<ul class="bl_vertPosts">
  <li class="bl_vertPosts_item">
    <div class="bl_vertPosts_header">
      <time class="bl_vertPosts_date" datetime="2019-03-29">2019/03/29</time>
      <ul class="bl_vertPosts_labels">
        <li>
          <span class="el_label">海外向けマーケティング</span>
        </li>
      </ul>
    </div>
    <!-- /.bl_vertPosts_header -->
    <a class="bl_vertPosts_ttl" href="#">【多言語サイトを構築する】 ①対象言語・地域とURL方式の選定</a>
  </li>
  <li class="bl_vertPosts_item">
    <div class="bl_vertPosts_header">
      <time class="bl_vertPosts_date" datetime="2019-03-28">2019/03/28</time>
      <ul class="bl_vertPosts_labels">
        <li>
          <span class="el_label el_label__yellow">お役立ちツール</span>
        </li>
      </ul>
    </div>
    <!-- /.bl_vertPosts_header -->
    <a class="bl_vertPosts_ttl" href="#">打ち合わせアポをスムーズに！ビジネスで使える日程調整ツール4選</a>
  </li>
  <li class="bl_vertPosts_item">
    <div class="bl_vertPosts_header">
      <time class="bl_vertPosts_date" datetime="2019-03-27">2019/03/27</time>
      <ul class="bl_vertPosts_labels">
        <li>
          <span class="el_label">海外向けマーケティング</span>
        </li>
      </ul>
    </div>
    <!-- /.bl_vertPosts_header -->
    <a class="bl_vertPosts_ttl" href="#">BtoB向けコンテンツマーケティング戦略におけるLinkedIn活用術</a>
  </li>
</ul>

<hr>

<!-- FAQ + リスト -->
<dl class="bl_faq">
  <dt class="bl_faq_q">
    <span class="bl_faq_icon">Q</span>
    <span class="bl_faq_q_txt">どのCMSの開発やCSS設計に対応していますか？</span>
  </dt>
  <dd class="bl_faq_a">
    <span class="bl_faq_icon">A</span>
    <div class="bl_faq_a_body">
      <p class="bl_faq_a_txt">
        それぞれ以下の開発実績がございます。
      </p>
      <ul class="bl_bulletList">
        <li>
          CMS構築
          <ul>
            <li>
              WordPress
            </li>
            <li>
              Movable Type
            </li>
            <li>
              HubSpot
            </li>
            <li>
              Sitecore
            </li>
          </ul>
        </li>
        <li>
          CSS設計
          <ul>
            <li>
              BEM
            </li>
            <li>
              FLOCSS
            </li>
            <li>
              PRECSS
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.bl_faq_a_body -->
  </dd>
</dl>

<hr>

<!-- アコーディオン + カード + CTAエリア -->
<dl class="bl_accordion">
  <dt>
    <button class="bl_accordion_btn is_active" type="button">サービスのご紹介</button>
  </dt>
  <dd class="bl_accordion_body is_active">
    <p class="bl_accordion_txt">
      弊社では下記のサービスを主軸とし、これらにまつわる周辺業務も提供しております。
    </p>
    <div class="bl_cardUnit bl_cardUnit__col3">
      <div class="bl_card">
        <figure class="bl_card_imgWrapper">
          <img alt="写真：HTMLコードが写っている画面" src="https://placehold.jp/150x100.png">
        </figure>
        <div class="bl_card_body">
          <h3 class="bl_card_ttl">
            webサイト制作
          </h3>
          <p class="bl_card_txt">
            ユーザーにベストな体験を提供するクリエイティブとテクノロジーを作り上げます。
          </p>
        </div>
        <!-- /.bl_card_body -->
      </div>
      <!-- /.bl_card -->
      <div class="bl_card">
        <figure class="bl_card_imgWrapper">
          <img alt="写真：SNSアイコンが写っている画面" src="https://placehold.jp/150x100.png">
        </figure>
        <div class="bl_card_body">
          <h3 class="bl_card_ttl">
            デジタルマーケティング支援
          </h3>
          <p class="bl_card_txt">
            自社のマーケティングを支える最適なデジタルマーケティングツールの導入をサポートします。
          </p>
        </div>
        <!-- /.bl_card_body -->
      </div>
      <!-- /.bl_card -->
      <div class="bl_card">
        <figure class="bl_card_imgWrapper">
          <img alt="写真：解析レポート" src="https://placehold.jp/150x100.png">
        </figure>
        <div class="bl_card_body">
          <h3 class="bl_card_ttl">
            解析・レポーティング
          </h3>
          <p class="bl_card_txt">
            ユーザー行動を分析し、より良いサイトを作り上げるためのアイデアをご提案します。
          </p>
        </div>
        <!-- /.bl_card_body -->
      </div>
      <!-- /.bl_card -->
    </div>
    <!-- /.bl_cardUnit bl_cardUnit__col3 -->
    <div class="bl_cta">
      <h3 class="bl_cta_ttl">
        お気軽にお問い合わせください
      </h3>
      <p class="bl_cta_txt">
        弊社のサービスや製品のことで気になることがございましたら、お気軽にお問い合わせください
      </p>
      <a class="el_btn" href="#">問い合わせする</a>
    </div>
    <!-- /.bl_cta -->
  </dd>
</dl>