// color
$cWhite: #ffffff;
$cBlack: #333333;
$cSubTitle: #535353;
$cGray: #f0f0f0;
$cFooterBG: #525252;

// ly_cont
$contentMaxWidth: 1130px;
$contentPadding: 15px;

// ly_section
$sectionHeightPaddingMobile: 40px;
$sectionHeightPadding: 60px;

// bl_firstView

// bl_firstView_wrapper
